external.variables=https://cdn.classichabbo.com/krishna/gamedata/external_variables.txt
external.texts=https://cdn.classichabbo.com/krishna/gamedata/external_texts.txt
connection.info.host=srv.classichabbo.com1
connection.info.port=12321
connection.mus.host=srv.classichabbo.com1
connection.mus.port=12322
# visualiser.entry=ROOM